# Implemention of Gradient Descent From Scratch

Using life insurance dataset

In [19]:
import numpy as np
import pandas as pd
import tensorflow as tf
%matplotlib inline

In [13]:
df = pd.read_csv("insurance_data.csv")
df.head()

   age  affordibility  bought_insurance
0   22              1                 0
1   25              0                 0
2   47              1                 1
3   52              0                 0
4   46              1                 1

Split data into test and train :-

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df[['age','affordibility']],df.bought_insurance,test_size=0.3, random_state=20)

Preprocessing: Scale the data so that both age and affordibility are in same scaling range

In [15]:
X_train_scaled = X_train.copy()
X_train_scaled['age'] = X_train_scaled['age'] / 100

X_test_scaled = X_test.copy()
X_test_scaled['age'] = X_test_scaled['age'] / 100

In [16]:
X_train_scaled.head()

     age  affordibility
22  0.40              1
21  0.26              0
5   0.56              1
24  0.50              1
19  0.18              1

Activation functions :-

In [17]:
def sigmoid_numpy(X):
   return 1/(1+np.exp(-X))

Log Loss or Binary Cross Entropy

In [18]:
def log_loss(y_true, y_predicted):
    epsilon = 1e-15
    y_predicted_new = [max(i,epsilon) for i in y_predicted]
    y_predicted_new = [min(i,1-epsilon) for i in y_predicted_new]
    y_predicted_new = np.array(y_predicted_new)
    return -np.mean(y_true*np.log(y_predicted_new)+(1-y_true)*np.log(1-y_predicted_new))

Function for gradient descent :-

In [10]:
def gradient_descent(age, affordability, y_true, epochs):
    w1 = w2 = 1
    bias = 0
    rate = 0.5
    n = len(age)
    for i in range(epochs):
        weighted_sum = w1 * age + w2 * affordability + bias
        y_predicted = sigmoid_numpy(weighted_sum)
        loss = log_loss(y_true, y_predicted)

        w1d = (1/n)*np.dot(np.transpose(age),(y_predicted-y_true)) 
        w2d = (1/n)*np.dot(np.transpose(affordability),(y_predicted-y_true))
        bias_d = np.mean(y_predicted-y_true)
        w1 = w1 - rate * w1d
        w2 = w2 - rate * w2d
        bias = bias - rate * bias_d

        print (f'Epoch:{i}, w1:{w1}, w2:{w2}, bias:{bias}, loss:{loss}')

    return w1, w2, bias

In [11]:
gradient_descent(X_train_scaled['age'],X_train_scaled['affordibility'],y_train,10)

Epoch:0, w1:0.9862885413678215, w2:0.940496031702029, bias:-0.08670798030425043, loss:0.6848287544188764
Epoch:1, w1:0.9775999812610016, w2:0.890160077107275, bias:-0.16132874350290838, loss:0.6639759170776004
Epoch:2, w1:0.9734435897642529, w2:0.848215040888705, bias:-0.22505203490541947, loss:0.6488832050614901
Epoch:3, w1:0.9732644594651648, w2:0.8137165023721886, bias:-0.27921329150413243, loss:0.6381395781082451
Epoch:4, w1:0.9764963404825838, w2:0.7856625450342378, bias:-0.3251683016568211, loss:0.6305558418053664
Epoch:5, w1:0.9825997972381728, w2:0.7630759855889371, bias:-0.36420376106163976, loss:0.6251972271836901
Epoch:6, w1:0.9910851559493471, w2:0.745056171943385, bias:-0.3974842855216564, loss:0.6213670952855802
Epoch:7, w1:1.0015230616921766, w2:0.7308052044740966, bias:-0.4260287428340173, loss:0.6185669179685362
Epoch:8, w1:1.0135464254805384, w2:0.7196359463030809, bias:-0.4507067339348868, loss:0.6164507393423513
Epoch:9, w1:1.026847153340565, w2:0.7109686820526719, bias:-0.47224713859996154, loss:0.6147839932791609

(1.026847153340565, 0.7109686820526719, -0.47224713859996154)